@font-face {
    font-family: 'P22 Johnston Underground';
    src: url('P22JohnstonUnderground.eot');
    src: url('P22JohnstonUnderground.eot?#iefix') format('embedded-opentype'),
        url('P22JohnstonUnderground.woff2') format('woff2'),
        url('P22JohnstonUnderground.woff') format('woff'),
        url('P22JohnstonUnderground.svg#P22JohnstonUnderground') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

